# Jupyter and extensions
jupyter
notebook
jupyterlab
ipywidgets
jupyter-contrib-nbextensions
jupyterthemes

# Core data science libraries
numpy < 2
pandas
scikit-learn
scikit-image
statsmodels
matplotlib
seaborn
scipy
tqdm
joblib

# datasets
kagglehub